.imageNav {
    display: block; 
    margin: 0 auto;
    height: 120px; 
    width: auto;
    object-fit: cover; 
  }

  .imageNav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  